Onboarding Automation/SolarioTech Onboarding Flow.json
{
  "name": "SolarioTech Onboarding Flow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "SolarioTech Employee Data",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": 1842105939,
          "mode": "list",
          "cachedResultName": "Form Responses 4",
          "cachedResultUrl": ""
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        896,
        1504
      ],
      "id": "1f11a32d-737b-4ac1-b8b4-eb1c6f01a999",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "4qxKDFstxlLPVWj2",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "114343fe-dae5-456c-9d25-36bfc691b486",
              "leftValue": "={{ $json.Onboarding_Status }}",
              "rightValue": "Pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1984,
        1504
      ],
      "id": "4aea20a6-71e5-4106-b8fe-0b8b6f048750",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "165550314",
          "mode": "id"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Role",
              "lookupValue": "={{ $('Data Configurations').item.json.Role }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2496,
        1200
      ],
      "id": "f203ab4f-739a-4509-b9e7-32244c7e8cb6",
      "name": "Asset Policy Check",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C8TGTyiM0cUmgssJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c0ddb25-b2d4-4596-99fc-b6fb7ee95d9f",
              "name": "Full_Name",
              "value": "={{ $json.Full_Name }}",
              "type": "string"
            },
            {
              "id": "54f5945c-36dc-46bd-8fbb-eefdcd96c0b1",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "787ecfc0-1fa6-47f0-8b6e-6dea20a5cfad",
              "name": "Role",
              "value": "={{ $json.Role }}",
              "type": "string"
            },
            {
              "id": "22937715-380d-4249-8180-679c63f683d0",
              "name": "Department",
              "value": "={{ $json.Department }}",
              "type": "string"
            },
            {
              "id": "e32584db-a73c-4451-8ad9-ae99351c39ed",
              "name": "Work_Type",
              "value": "={{ $json.Work_Type }}",
              "type": "string"
            },
            {
              "id": "57c26ce5-e923-46e2-9588-42d24578d615",
              "name": "DOJ",
              "value": "={{ $json.DOJ }}",
              "type": "string"
            },
            {
              "id": "82d1ef6f-c194-4ecb-aee9-cf3bf85c4081",
              "name": "Location",
              "value": "={{ $json.Location }}",
              "type": "string"
            },
            {
              "id": "c3f71ea8-6ec4-48e9-87c3-69b66258c8db",
              "name": "Status",
              "value": "={{ $json.Status }}",
              "type": "string"
            },
            {
              "id": "4c07b341-54dd-45f4-9384-7e0e3a957478",
              "name": "Onboarding_Status",
              "value": "={{ $json.Onboarding_Status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        1504
      ],
      "id": "a501928d-d5b5-48c3-9063-a9c191435327",
      "name": "Data Configurations"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "893909467",
          "mode": "id"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Assigned_To",
              "lookupValue": "={{ $json.Role_ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ce37e8da-7e89-4f44-9247-46e4d5040d73",
      "name": "Asset Data Check",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2720,
        1200
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C8TGTyiM0cUmgssJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "893909467"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Asset_ID": "={{ $json.Asset_ID }}",
            "Asset_Status": "={{ $json.Asset_Status }}",
            "Assigned_To": "={{ $('Adding New Employee Data').item.json.Employee_ID }}",
            "Category": "={{ $json.Category }}",
            "Brand": "={{ $json.Brand }}",
            "Model": "={{ $json.Model }}",
            "CPU": "={{ $json.CPU }}",
            "RAM": "={{ $json.RAM }}",
            "Storage": "={{ $json.Storage }}",
            "Serial_No": "={{ $json.Serial_No }}",
            "Purchase_Date": "={{ $json.Purchase_Date }}",
            "Warranty_End": "={{ $json.Warranty_End }}",
            "Employee_Name": "={{ $json.Employee_Name }}",
            "Assigned_Date": "={{ $json.Assigned_Date }}",
            "Condition": "={{ $json.Condition }}",
            "Location": "={{ $json.Location }}",
            "Remarks": "={{ $json.Remarks }}"
          },
          "matchingColumns": [
            "Asset_ID"
          ],
          "schema": [
            {
              "id": "Asset_ID",
              "displayName": "Asset_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Brand",
              "displayName": "Brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CPU",
              "displayName": "CPU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RAM",
              "displayName": "RAM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Storage",
              "displayName": "Storage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Serial_No",
              "displayName": "Serial_No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Purchase_Date",
              "displayName": "Purchase_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Warranty_End",
              "displayName": "Warranty_End",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Asset_Status",
              "displayName": "Asset_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Assigned_To",
              "displayName": "Assigned_To",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee_Name",
              "displayName": "Employee_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Assigned_Date",
              "displayName": "Assigned_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Condition",
              "displayName": "Condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "dcd65a20-2cbe-4317-b884-066aced6b66f",
      "name": "Update Asset Status to Assigned",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3616,
        912
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C8TGTyiM0cUmgssJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e4eb7ad-a35d-4af0-be31-dbefd727ffb1",
              "leftValue": "={{ $json.Employee_Name }}",
              "rightValue": "Available",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2944,
        1200
      ],
      "id": "96ef3f73-91f8-4489-b8af-356452ef6427",
      "name": "Asset Availability Check"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "1227232961"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Employee_ID": "={{ $json.Assigned_To }}",
            "Asset_Assigned": "Yes",
            "Onboarding_Status": "Completed"
          },
          "matchingColumns": [
            "Employee_ID"
          ],
          "schema": [
            {
              "id": "Employee_ID",
              "displayName": "Employee_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full_Name",
              "displayName": "Full_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Work_Type",
              "displayName": "Work_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DOJ",
              "displayName": "DOJ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Onboarding_Status",
              "displayName": "Onboarding_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Asset_Assigned",
              "displayName": "Asset_Assigned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "162442bb-aea5-425f-8462-844c97a51d29",
      "name": "Update Employee Record - Asset Assigned",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3840,
        912
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C8TGTyiM0cUmgssJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "",
        "subject": "=No Asset To Assign For The Role {{ $('Data Configurations').item.json.Role }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background-color: #f4f6f8;\n      line-height: 1.6;\n      color: #333333;\n      margin: 0;\n      padding: 0;\n    }\n    .container {\n      max-width: 650px;\n      margin: 30px auto;\n      background-color: #ffffff;\n      border-radius: 6px;\n      overflow: hidden;\n      box-shadow: 0 2px 8px rgba(0,0,0,0.08);\n    }\n    .header {\n      background-color: #c62828;\n      color: #ffffff;\n      padding: 18px 24px;\n    }\n    .header h2 {\n      margin: 0;\n      font-size: 20px;\n    }\n    .content {\n      padding: 24px;\n    }\n    .content p {\n      margin: 12px 0;\n    }\n    .details {\n      background-color: #fafafa;\n      border-left: 4px solid #c62828;\n      padding: 16px;\n      margin: 20px 0;\n    }\n    .details h3 {\n      margin-top: 0;\n      font-size: 16px;\n      color: #444;\n    }\n    .detail-row {\n      margin: 6px 0;\n    }\n    .label {\n      font-weight: bold;\n      color: #555;\n      display: inline-block;\n      width: 140px;\n    }\n    .highlight {\n      color: #c62828;\n      font-weight: bold;\n    }\n    ul {\n      margin: 10px 0 10px 20px;\n    }\n    .footer {\n      margin-top: 25px;\n      padding-top: 15px;\n      border-top: 1px solid #dddddd;\n      font-size: 12px;\n      color: #777777;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2>Asset Allocation Notification</h2>\n    </div>\n\n    <div class=\"content\">\n      <p>Dear Management Team,</p>\n\n      <p>\n        This is to formally notify you that \n        <span class=\"highlight\">no suitable assets are currently available</span>\n        for assignment as part of the onboarding process for the employee detailed below.\n      </p>\n\n      <div class=\"details\">\n        <h3>Employee Information</h3>\n        <div class=\"detail-row\">\n          <span class=\"label\">Employee ID:</span>\n          {{ $('Data Configurations').item.json.Employee_ID }}\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Full Name:</span>\n          {{ $('Data Configurations').item.json.Full_Name }}\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Role:</span>\n          {{ $('Data Configurations').item.json.Role }}\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Department:</span>\n          {{ $('Data Configurations').item.json.Department }}\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Location:</span>\n          {{ $('Data Configurations').item.json.Location }}\n        </div>\n      </div>\n\n      <p>\n        <strong>Reason:</strong> The current asset inventory does not contain any\n        available assets that meet the allocation criteria for the role\n        <strong>{{ $('Data Configurations').item.json.Role }}</strong>.\n      </p>\n\n      <p><strong>Required Action:</strong></p>\n      <ul>\n        <li>Initiate procurement of new assets for this role, or</li>\n        <li>Reallocate suitable assets from other departments, if feasible</li>\n        <li>Update the asset inventory once action is taken</li>\n      </ul>\n\n      <p>\n        Please note that the onboarding process is temporarily on hold until the\n        required asset allocation is completed.\n      </p>\n\n      <div class=\"footer\">\n        <p>\n          This is an automated notification generated by the Asset Management System.\n        </p>\n        <p>\n          For further clarification or assistance, please contact the IT Asset\n          Management Team.\n        </p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3376,
        1328
      ],
      "id": "44dc7875-d646-48bb-8365-6999ee9c99c4",
      "name": "Send a message",
      "webhookId": "3c2ac11a-04fc-4f7f-a606-02867cd52f44",
      "credentials": {
        "gmailOAuth2": {
          "id": "H7g7BDYjBGFvV5G8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Data Configurations').item.json.Email }}",
        "subject": "=Asset Assignment Confirmation – {{ $('Update Asset Status to Assigned').item.json.Asset_ID }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background-color: #f4f6f8;\n      line-height: 1.6;\n      color: #333333;\n      margin: 0;\n      padding: 0;\n    }\n    .container {\n      max-width: 650px;\n      margin: 30px auto;\n      background-color: #ffffff;\n      border-radius: 6px;\n      overflow: hidden;\n      box-shadow: 0 2px 8px rgba(0,0,0,0.08);\n    }\n    .header {\n      background-color: #2e7d32;\n      color: #ffffff;\n      padding: 18px 24px;\n    }\n    .header h2 {\n      margin: 0;\n      font-size: 20px;\n    }\n    .content {\n      padding: 24px;\n    }\n    .content p {\n      margin: 12px 0;\n    }\n    .details {\n      background-color: #fafafa;\n      border-left: 4px solid #2e7d32;\n      padding: 16px;\n      margin: 20px 0;\n    }\n    .details h3 {\n      margin-top: 0;\n      font-size: 16px;\n      color: #444;\n    }\n    .detail-row {\n      margin: 6px 0;\n    }\n    .label {\n      font-weight: bold;\n      color: #555;\n      display: inline-block;\n      width: 140px;\n    }\n    .footer {\n      margin-top: 25px;\n      padding-top: 15px;\n      border-top: 1px solid #dddddd;\n      font-size: 12px;\n      color: #777777;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2>Asset Assignment Confirmation</h2>\n    </div>\n\n    <div class=\"content\">\n      <p>Dear {{ $('Data Configurations').item.json.Full_Name }},</p>\n\n      <p>\n        We are pleased to inform you that an IT asset has been successfully assigned to you as part of your onboarding process. Please find the assignment details below for your reference.\n      </p>\n\n      <div class=\"details\">\n        <h3>Employee Information</h3>\n        <div class=\"detail-row\">\n          <span class=\"label\">Employee ID:</span>\n          {{ $('Data Configurations').item.json.Employee_ID }}\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Role:</span>\n          {{ $('Data Configurations').item.json.Role }}\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Department:</span>\n          {{ $('Data Configurations').item.json.Department }}\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Location:</span>\n          {{ $('Data Configurations').item.json.Location }}\n        </div>\n      </div>\n\n      <div class=\"details\">\n        <h3>Asset Details</h3>\n        <div class=\"detail-row\">\n          <span class=\"label\">Asset ID:</span>\n          {{ $('Update Asset Status to Assigned').item.json.Asset_ID }}\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Category:</span>\n          {{ $('Update Asset Status to Assigned').item.json.Category }}\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Brand / Model:</span>\n          {{ $('Update Asset Status to Assigned').item.json.Brand }} {{ $('Update Asset Status to Assigned').item.json.Model }}\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Assigned Date:</span>\n          {{ $('Update Asset Status to Assigned').item.json.Assigned_Date }}\n        </div>\n      </div>\n\n      <p>\n        The assigned asset is provided for official use only and must be handled in accordance with the company's IT asset usage and information security policies. You are responsible for the safekeeping and appropriate use of this asset during your employment with the organization.\n      </p>\n\n      <p>\n        If you experience any issues with the asset or require technical assistance, please contact the IT Asset Management or IT Support team.\n      </p>\n\n      <p>\n        Kindly acknowledge receipt of this email to confirm that you have received the assigned asset.\n      </p>\n\n      <div class=\"footer\">\n        <p>\n          This is an automated notification generated by the Asset Management System.\n        </p>\n        <p>\n          For any assistance, please contact the IT Asset Management Team.\n        </p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4048,
        912
      ],
      "id": "ef83efa1-f426-437e-a0ae-34cd313eff93",
      "name": "Confirmation Mail",
      "webhookId": "9f8b3276-d1e4-4611-a3a9-3e2e718cca43",
      "credentials": {
        "gmailOAuth2": {
          "id": "H7g7BDYjBGFvV5G8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A7LN5BVA4",
          "mode": "list",
          "cachedResultName": "it-notifications"
        },
        "text": "=:white_check_mark: *New Employee Onboarding Alert*\n\n*Employee Details:*\n• *Name:* {{ $('Data Configurations').item.json.Full_Name }}\n• *Employee ID:* {{ $('Data Configurations').item.json.Employee_ID }}\n• *Role:* {{ $('Data Configurations').item.json.Role }}\n• *Department:* {{ $('Data Configurations').item.json.Department }}\n\nThe asset has been successfully assigned and the employee has been notified via email.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        4256,
        912
      ],
      "id": "9a4e3101-0a71-4cf4-a022-71b38c6f4edd",
      "name": "Send a message1",
      "webhookId": "f64fe241-7ec8-4dbc-9239-f40d08a4d74c",
      "credentials": {
        "slackOAuth2Api": {
          "id": "NQnsC2ktx7sqiIQn",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Asset Allocation Data",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": 1375585443,
          "mode": "list",
          "cachedResultName": "Asset_Assignments",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Asset_ID": "={{ $('Update Asset Status to Assigned').first().json.Asset_ID }}",
            "Date": "={{ $('Update Asset Status to Assigned').first().json.Assigned_Date }}",
            "Status": "Active",
            "Employee_ID": "={{ $('If').first().json.Employee_ID }}",
            "Assignment_ID": "={{ $json.Assignment_ID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Assignment_ID",
              "displayName": "Assignment_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee_ID",
              "displayName": "Employee_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Asset_ID",
              "displayName": "Asset_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4864,
        912
      ],
      "id": "006a4d61-1218-4eac-846c-d1ac1866ba0b",
      "name": "Asset Allocation Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C8TGTyiM0cUmgssJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Asset Allocation Data",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": 1375585443,
          "mode": "list",
          "cachedResultName": "Asset_Assignments",
          "cachedResultUrl": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4464,
        912
      ],
      "id": "da341011-a186-4ae2-8b85-7210c218952e",
      "name": "Getting Asset Log",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C8TGTyiM0cUmgssJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get data from previous nodes\nconst employeeData = $('Data Configurations').item.json;\nconst policyData = $('Asset Policy Check').item.json;\nconst assetItems = $input.all();\n\n// Extract employee information\nconst roleId = policyData.Role_ID;\nconst employeeId = employeeData.Employee_ID;\nconst employeeName = employeeData.Full_Name;\n\n// Filter assets that are AVAILABLE for the role\nconst availableAssets = assetItems.filter(item => {\n  const asset = item.json;\n  return (\n    asset.Assigned_To === roleId &&\n    asset.Employee_Name === 'Available'\n  );\n});\n\n// If no asset available\nif (availableAssets.length === 0) {\n  return [{\n    json: {\n      status: 'NO_ASSET_AVAILABLE',\n      Employee_ID: employeeId,\n      Full_Name: employeeName,\n      message: 'No available assets for this role'\n    },\n    pairedItem: 0\n  }];\n}\n\n// Pick ONLY ONE asset\nconst selectedAsset = availableAssets[0].json;\nconst selectedAssetIndex = availableAssets[0].pairedItem;\n\n// Format today date (DD/Mon/YYYY)\nconst today = new Date().toLocaleDateString('en-GB', {\n  day: '2-digit',\n  month: 'short',\n  year: 'numeric'\n}).replace(/ /g, '/');\n\n// Update asset fields\nconst updatedAsset = {\n  ...selectedAsset,\n  Asset_Status: 'In-Use',\n  Assigned_To: employeeId,\n  Employee_Name: employeeName,\n  Assigned_Date: today\n};\n\n// Return full updated asset row with pairedItem metadata\nreturn [{\n  json: updatedAsset,\n  pairedItem: selectedAssetIndex !== undefined ? selectedAssetIndex : 0\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3376,
        912
      ],
      "id": "f5bf9b3c-e4e7-4e4a-8aee-dddf4c4e6cb3",
      "name": "Configuring Data For Asset Data Sheet"
    },
    {
      "parameters": {
        "jsCode": "const lastEntry = $input.all().pop();\nconst lastEntryEmployeeId = lastEntry?.json?.Employee_ID;\nconst lastEntryNumber = Number(lastEntryEmployeeId.split(\"-\")[1]);\nconst newEmployeeId = `EMP-${String(lastEntryNumber + 1).padStart(3, \"0\")}`;\n\nconst dataConfigurations = $(\"Data Configurations\").all();\nconst updatedDataConfigurations = dataConfigurations.map((item) => {\n  item.json.Employee_ID = newEmployeeId;\n  return item;\n});\n\nreturn updatedDataConfigurations;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        1504
      ],
      "id": "a0cc3218-0fa6-4e49-a3b0-a457f9e26e07",
      "name": "Generating Employee ID"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "SolarioTech Employee Data",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": 1227232961,
          "mode": "list",
          "cachedResultName": "Employees",
          "cachedResultUrl": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        1504
      ],
      "id": "b91492cf-84a5-488a-be12-5b4ff0d472d3",
      "name": "Getting Data From Employee Sheet To Generate Employee ID",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C8TGTyiM0cUmgssJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "SolarioTech Employee Data",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": 1227232961,
          "mode": "list",
          "cachedResultName": "Employees",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Employee_ID": "={{ $json.Employee_ID }}",
            "Full_Name": "={{ $json.Full_Name }}",
            "Role": "={{ $json.Role }}",
            "Email": "={{ $json.Email }}",
            "Department": "={{ $json.Department }}",
            "Work_Type": "={{ $json.Work_Type }}",
            "DOJ": "={{ $json.DOJ }}",
            "Location": "={{ $json.Location }}",
            "Status": "={{ $json.Status }}",
            "Onboarding_Status": "={{ $json.Onboarding_Status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Employee_ID",
              "displayName": "Employee_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full_Name",
              "displayName": "Full_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Work_Type",
              "displayName": "Work_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DOJ",
              "displayName": "DOJ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Onboarding_Status",
              "displayName": "Onboarding_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Asset_Assigned",
              "displayName": "Asset_Assigned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1760,
        1504
      ],
      "id": "0f7ae3aa-23a0-44e9-b82d-588633c8f8cd",
      "name": "Adding New Employee Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C8TGTyiM0cUmgssJ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Data Configurations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Asset Policy Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Configurations": {
      "main": [
        [
          {
            "node": "Getting Data From Employee Sheet To Generate Employee ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asset Policy Check": {
      "main": [
        [
          {
            "node": "Asset Data Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asset Data Check": {
      "main": [
        [
          {
            "node": "Asset Availability Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asset Availability Check": {
      "main": [
        [
          {
            "node": "Configuring Data For Asset Data Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Asset Status to Assigned": {
      "main": [
        [
          {
            "node": "Update Employee Record - Asset Assigned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Employee Record - Asset Assigned": {
      "main": [
        [
          {
            "node": "Confirmation Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmation Mail": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Getting Asset Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting Asset Log": {
      "main": [
        [
          {
            "node": "Asset Allocation Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuring Data For Asset Data Sheet": {
      "main": [
        [
          {
            "node": "Update Asset Status to Assigned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generating Employee ID": {
      "main": [
        [
          {
            "node": "Adding New Employee Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting Data From Employee Sheet To Generate Employee ID": {
      "main": [
        [
          {
            "node": "Generating Employee ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adding New Employee Data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "05d4597d-daa4-4ca9-a86b-2797b2596046",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6e07f0cade65ae3b897c80688dbb4ced8b7ecdd9a4ffd6857ac2c42cfa06487"
  },
  "id": "wMNRNrNEwdMbO3jC",
  "tags": []
}